<!DOCTYPE html>
<html>
<head>
  <style>
    .form-center {
      display:flex;
      justify-content: center;
    }
  </style>
</head>
<body>


<center>
  <h2>Generate random modulo 1 number</h2>
</center>
<div class="form-center">

  <form method="post">
    <label for="digits">Required Number of Digits</label><br>
    <input type="text" id="digits" name="digits" value="32"><br>
    <label for="modulo">Modulo</label><br>
    <input type="text" id="modulo" name="modulo" value="97"><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
</body> 
</body>


</body>
</html>